<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Punjabi Library</title>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div th:replace="Fragments/header :: header(${username})"></div>
  <fieldset>
	  <legend>Modify a book</legend>
	  <form th:action= "@{/admin/users/updateUser/{id}(id=${user.username})}" th:object="${user}" method ="post">
	  	<p>Name<span class = "mandatory">*</span>: <input type = "text" th:field = "*{name}" /></p>
	  	<p>Age<span class = "mandatory">*</span>: <input type = "number" th:field = "*{age}" /></p>
	  	<p>Username<span class = "mandatory">*</span>: <input type = "text" th:field = "*{username}" /></p>
	  	<p>Password<span class = "mandatory">*</span>: <input type = "password" th:field = "*{password}" /></p>
	  	<p>Confirm Password<span class = "mandatory">*</span>: <input type = "password" th:field = "*{confirmPassword}" /></p>
	  	<p>Profession<span class = "mandatory">*</span>: <input type = "text" th:field = "*{profession}" /></p>
	  	<p>Address<span class = "mandatory">*</span>: <input type = "text" th:field = "*{address}" /></p>
	  	<p>City<span class = "mandatory">*</span>: <input type = "text" th:field = "*{city}" /></p>
	  	<p>State/Province<span class = "mandatory">*</span>: <input type = "text" th:field = "*{state}" /></p>
	  	<p>Country<span class = "mandatory">*</span>: <input type = "text" th:field = "*{country}" /></p>
	  	<p>Mobile<span class = "mandatory">*</span>: <input type = "number" th:field = "*{mobile}" /></p>
	  	<input type = "submit" value = "Update User" />
	  </form>
	  <br/>
	  <a th:href = "@{'/admin/users/' + ${user.userType}}">Go Back</a>
  </fieldset>
</body>
</html>
