<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Punjabi Library</title>
  <meta charset="UTF-8">
  <link th:href="@{../css/style.css}" rel="stylesheet" />
</head>
<body>
  <h1 th:text = "'Welcome ' + ${username}" ></h1>
  <table>
  	<tr>
  		<td><a href = "/admin/books/addBook">Add new book</a></td>
  		<td><a href = "/admin/books/deleteBook">Delete book</a></td>
  	</tr>
  	<tr>
  		<td><a href = "/admin/books/modifyBook">Modify book</a></td>
  	</tr>
  </table>
</body>
</html>
