<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Punjabi Library</title>
  <meta charset="UTF-8">
  <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
	<div th:replace="Fragments/header :: header(${userId})"></div>
  <fieldset>
	  <legend>Reserving a book</legend>
	  <form th:action= "@{/admin/reserve/checkBook}" th:object="${user}" method ="post">
	  	<p>UserId<span class = "mandatory">*</span>: <input type = "text" th:field = "*{userId}" /></p>
	  	<input type = "submit" value = "Next" />
	  </form>
	  	<p class="error" th:text = "${errorMessage}"></p>
	  <br/>
  </fieldset>
  </div>
  <div th:replace="Fragments/footer :: footer"></div>
</body>
</html>
